h2.heading{
  font-size: 9.3rem;
  opacity: 20%;
  margin-bottom: 2rem;
  font-family: $font-secondary;
}

h3.heading{
  font-size: 6.1rem;
  font-family: 'Conte\' Script reduced', sans-serif;
  align-self: flex-end;
  color: $color-white;
}

h5.heading {
  font-size: clamp(18px, 3vw, 2.4rem);
  font-size: 1.8rem;
}

h4.heading {
  font-size: 2.2rem;
}

h6.heading {
  font-size: 1.5rem;
}

.p__text {
  font-size: 3.5rem;
  color: $color-white;
}

// Typography utils

.block{
  display: block;
}

.bold {
  font-weight: bold;
}

.center {
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}
.capitalize {
  text-transform: capitalize;
}


@mixin img-size {
  height: 100%;
  width: 100%;
}

@mixin icon-vector {
  height: 2rem;
  width: 2rem;
}

