.contact {
  background-image: linear-gradient($color-primary, $color-secondary),
    url(../img/contact.jpg);

  .content {
  }

  h2{
    text-align: left;
  }

  &__item{
    display: flex;
    align-items: center;
    gap: 2rem 0;


  }
}
