.contact {
  background-image: url(../img/contactus.png);

  @media only screen and (max-width: $tab-port) {
    background-image: url(../img/contact-mbl.png);
  }

  h2 {
    text-align: left;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 2rem 0;
  }
}
