.home {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(../img/home.png);
  color: $color-white;

  @media only screen and (max-width: $tab-port) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      url(../img/home-mbl.png);
  }
}
