// @import "world-clock.scss";

.main-container{
   height: 100vh;
   width: 100%;
   position: relative;
}

.page{
 height: 100vh;
 width: 100%;
//  background-color: rgba(43, 6, 6, 0.5);
display: flex;
justify-content: center;
align-items: center;
background-position: top center;
background-size: cover;
background-repeat: no-repeat;
}

.home{
  background-image: linear-gradient($color-primary, $color-secondary) ,url(../img/home.jpg);

}
.about{
  background-image: linear-gradient($color-primary, $color-secondary) ,url(../img/about.jpg);
}
.portfolio{
  background-image: linear-gradient($color-primary, $color-secondary) ,url(../img/portfolio.jpg);
}
.partner{
  background-image: linear-gradient($color-primary, $color-secondary) ,url(../img/partner.jpg);
}
.contact{
  background-image: linear-gradient($color-primary, $color-secondary) ,url(../img/contact.jpg);
}

