

.main-container {
  height: 100vh;
  width: 100%;
  position: relative;
}

.page {
  height: 100vh;
  width: 100%;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;

  .content{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 103rem;
    transform: translateY(14rem);
    padding-left: 5rem;

    @media only screen and (max-width: 93.75em) {
      transform: translateY(8rem);
    }

    @media only screen and (max-width: 68.75em) {
      width: 90%;
      transform: translateY(2rem);
      padding-left: 8rem;
    }

    @media only screen and (max-width: $tab-land){
      width: 100%;
      padding-left: 0;
    }

  }
}


@import "home.scss";
@import "about.scss";
@import "contact.scss";
@import "portfolio.scss";
@import "partner.scss";

