
.partner{
 background-image: linear-gradient($color-primary, $color-secondary) ,url(../img/partner.jpg);

   .content {
    padding: 0 6rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translateY(-6rem);
    align-items: flex-start;
    position: relative;

    @media only screen and (max-width: $tab-land){
      transform: translateY(-5%);
    }

    h2{
      margin-bottom: 7rem;
    }
  }

  &__img{
    height: 13rem;
    width: 28rem;
    margin: 0 auto;
    img{
      @include img-size;
    }
  }

  h3{
    position: absolute;
    right: 0;
    bottom: -2rem;
    
    @media only screen and (max-width: $tab-port){
      bottom: 8rem;
    }
  }

  h2{
    @media only screen and (max-width: $tab-port){
      text-align: center;
    }
  }
}