
.partner{
 background-image: linear-gradient($color-primary, $color-secondary) ,url(../img/partner.jpg);

   .content {
    padding: 0 6rem;
    width: 100%;
    display: flex;
    justify-content: center;
    transform: translateY(0);
    align-items: center;
    position: relative;

    @media only screen and (max-width: $tab-land){
      transform: translateY(-5%);
    }
  }

  &__img{
    height: 25rem;
    width: 50rem;
    img{
      @include img-size;
    }
  }

  h3{
    position: absolute;
    left: 0;
    bottom: 5rem;
    
    @media only screen and (max-width: $tab-land){
      bottom: 12rem;
    }
  }

  h2{
    @media only screen and (max-width: $tab-port){
      text-align: center;
    }
  }
}