.portfolio {
  background-image: linear-gradient($color-primary, $color-secondary),
    url(../img/portfolio.jpg);

  .content {
    padding: 0 6rem;
    width: 100%;
    justify-content: flex-start;
    transform: translateY(10rem);
    position: relative;
  }

  h2 {
    margin-bottom: 7.5rem;
    margin-top: 15rem;

    @media only screen and (max-width: 93.75em) {
      margin-top: 10rem;
    }

    @media only screen and (max-width: $mbl-land) {
      margin-top: 6rem;
    }
    @media only screen and (max-width: $mbl-small) {
      margin-top: 8rem;
    }

    @media only screen and (max-width: $mbl-land) {
      margin-bottom: 5rem;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    justify-items: center;
    text-align: center;
    gap: 10rem 4rem;

    @media only screen and (max-width: 81.25em) {
      grid-template-columns: repeat(4, 1fr);
    }
    @media only screen and (max-width: 68.75em) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media only screen and (max-width: $tab-port) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media only screen and (max-width: $mbl-land) {
      grid-template-columns: repeat(1, 1fr);
      gap: 3.6rem 0;
    }
  }

  &__item {
    height: 40px;
    justify-self: center;

    &--5 {
      @media only screen and (max-width: 81.25em) {
        grid-column: 2/3;
      }

      @media only screen and (max-width: $tab-port) {
        grid-column: 1/2;
      }

      @media only screen and (max-width: $mbl-land) {
        grid-column: 1/-1;
      }
    }
    &--6 {
      grid-column: 3/4;
      @media only screen and (max-width: $tab-port) {
        grid-column: 2/-1;
      }
      @media only screen and (max-width: $mbl-land) {
        grid-column: 1/-1;
      }
    }
  }

  &__img {
    height: 100%;
    width: 100%;

    img {
      height: 100%;
      width: 100%;
    }
  }

  h3 {
    opacity: 50%;
    position: absolute;
    bottom: 18%;
    right: 16%;

    @media only screen and (max-width: 93.75em) {
      // margin-top: 8rem;
    }

    @media only screen and (max-width: $tab-port) {
      bottom: 12%;
      right: 16%;
      text-align: center;
    }

    
    @media only screen and (max-width: $tab-land){
      bottom: 28%;
    }
    @media only screen and (max-width: $mbl-land) {
      bottom: 20%;
    }
  }

  // .owl-nav {
  //   .owl-prev,
  //   .owl-next {
  //     @media only screen and (max-width: $mbl-land) {
  //       top: 77%;
  //     }
  //   }
  // }
}
