.portfolio {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../img/projects.png);

  @media only screen and (max-width: $tab-port) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url(../img/projects-mbl.png);
    background-position: center;
  }

  .content {
    padding: 0 6rem;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  h3 {
    font-family: $font-conte;
    font-size: 3rem;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    text-align: center;
    gap: 22rem 15rem;
    margin-top: 26rem;

    @media only screen and (max-width: 93.75em) {
      gap: 20rem 10rem;
      margin-top: 8rem;
    }

    @media only screen and (max-width: $tab-port) {
      grid-template-columns: repeat(2, 1fr);
      margin-top: 12rem;
      gap: 33rem 20rem;
    }

    @media only screen and (max-width: $mbl-land) {
      margin-top: 1rem;
    }
    @media only screen and (max-width: $mbl-port) {
      gap: 16rem 9rem;
    }
  }

  &__item {
    height: 40px;
    justify-self: center;

    // &--5 {
    //   @media only screen and (max-width: 81.25em) {
    //     grid-column: 2/3;
    //   }

    //   @media only screen and (max-width: $tab-port) {
    //     grid-column: 1/2;
    //   }

    //   @media only screen and (max-width: $mbl-land) {
    //     grid-column: 1/-1;
    //   }
    // }

    // &--6 {
    //   grid-column: 3/4;
    //   @media only screen and (max-width: $tab-port) {
    //     grid-column: 2/-1;
    //   }
    //   @media only screen and (max-width: $mbl-land) {
    //     grid-column: 1/-1;
    //   }
    // }
  }

  &__img {
    height: 100%;
    width: 100%;

    img {
      height: 100%;
      width: 100%;
    }
  }

  // h3 {
  //   opacity: 50%;
  //   position: absolute;
  //   bottom: 18%;
  //   right: 16%;

  //   @media only screen and (max-width: 93.75em) {
  //     // margin-top: 8rem;
  //   }

  //   @media only screen and (max-width: $tab-port) {
  //     bottom: 12%;
  //     right: 16%;
  //     text-align: center;
  //   }

  //   @media only screen and (max-width: $tab-land) {
  //     bottom: 28%;
  //   }
  //   @media only screen and (max-width: $mbl-land) {
  //     bottom: 20%;
  //   }
  // }
}
