.portfolio {
  background-image: linear-gradient($color-primary, $color-secondary),
    url(../img/portfolio.jpg);

  .content {
    padding: 0 6rem;
    width: 100%;
    justify-content: flex-start;
    transform: translateY(10rem);
  }

  h2{
    margin-bottom: 4rem;
    margin-top: 8rem;

    @media only screen and (max-width: $mbl-land){
    margin-top: 6rem;
    }
    @media only screen and (max-width: $mbl-small){
    margin-top: 8rem;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    justify-items: center;
    text-align: center;
    gap: 10rem 4rem;

    @media only screen and (max-width: 81.25em){
      grid-template-columns: repeat(4, 1fr);
    }
    @media only screen and (max-width: 68.75em){
      grid-template-columns: repeat(3, 1fr);
    }
    @media only screen and (max-width: $tab-port){
      grid-template-columns: repeat(2, 1fr);
      gap: 3.5rem 4rem;
    }

    @media only screen and (max-width: $mbl-land){
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__item {
    height:40px;
    justify-self: center;

    &--5{
      @media only screen and (max-width: 81.25em){
        grid-column: 2/3;
      }

      @media only screen and (max-width: $tab-port){
        grid-column: 1/2;
      }

      @media only screen and (max-width: $mbl-land){
        grid-column: 1/-1;
      }
    }
    &--6{
      grid-column: 3/4;
      @media only screen and (max-width: $tab-port){
        grid-column: 2/-1;
      }
      @media only screen and (max-width: $mbl-land){
        grid-column: 1/-1;
      }
      
    }
  }

  &__img {
    height: 100%;
    width: 100%;

    img {
      height: 100%;
      width: 100%;
    }
  }

  h3 {
    opacity: 50%;
    margin-top: 12rem;

    @media only screen and (max-width: $mbl-land){
      margin-top: 8.5rem;
    }
  }
}
