@font-face {
  font-family: "Segoe UI";
  src: url("SegoeUI-Bold.woff2") format("woff2"),
    url("SegoeUI-Bold.woff") format("woff"),
    url("SegoeUI-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Segoe UI";
  src: url("SegoeUI-Italic.woff2") format("woff2"),
    url("SegoeUI-Italic.woff") format("woff"),
    url("SegoeUI-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Segoe UI";
  src: url("SegoeUI-BoldItalic.woff2") format("woff2"),
    url("SegoeUI-BoldItalic.woff") format("woff"),
    url("SegoeUI-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Segoe UI";
  src: url("SegoeUI.woff2") format("woff2"), url("SegoeUI.woff") format("woff"),
    url("SegoeUI.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Calibri";
  src: url("Calibri-Bold.woff2") format("woff2"),
    url("Calibri-Bold.woff") format("woff"),
    url("Calibri-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Calibri";
  src: url("Calibri-Italic.woff2") format("woff2"),
    url("Calibri-Italic.woff") format("woff"),
    url("Calibri-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Calibri";
  src: url("Calibri-BoldItalic.woff2") format("woff2"),
    url("Calibri-BoldItalic.woff") format("woff"),
    url("Calibri-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Calibri";
  src: url("Calibri.woff2") format("woff2"), url("Calibri.woff") format("woff"),
    url("Calibri.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* 
@font-face {
  font-family: "Conte";
  src: url("ConteScriptreduced.woff2") format("woff2"),
    url("ConteScriptreduced.woff") format("woff"),
    url("ConteScriptreduced.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
} */

@font-face {
  font-family: 'Conte\' Script reduced';
  src: url("ConteScriptreduced.woff2") format("woff2"),
    url("ConteScriptreduced.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
