.owl-carousel {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
}

.item {
  position: relative;
}

.owl-nav {
  .owl-prev,
  .owl-next {
    position: absolute;
    top: 50%;

    @media only screen and (max-width: $tab-land){
      top: 84%;
    }
    @media only screen and (max-width: $mbl-land){
      top: 87%;
    }
  }
  button.owl-prev {
    left: 2%;

    @media only screen and (max-width: $tab-land){
      left: 40%;
    }
    @media only screen and (max-width: $mbl-land){
      left: 30%;
    }
  }

  button.owl-next {
    right: 2%;
    @media only screen and (max-width: $tab-land){
      right: 40%;
    }
    @media only screen and (max-width: $mbl-land){
      right: 30%;
    }
  }
}

body > div > div > div.owl-nav > button.owl-prev.disabled,
body > div > div > div.owl-nav > button.owl-next.disabled {
  display: none;
}

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next {
  border: 2px solid white;
  height: 6.3rem;
  width: 6.3rem;
  border-radius: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.owl-carousel .owl-nav button.owl-prev:hover,
.owl-carousel .owl-nav button.owl-next:hover {
  background: transparent;
}

.owl-carousel .owl-nav button.owl-prev svg,
.owl-carousel .owl-nav button.owl-next svg {
  font-size: 3rem;
  fill: $color-white;
  background: transparent;
  height: 50%;
  width: 50%;
}

// nevigation

.owl-dots {
  position: absolute;
  top: 4rem;
  right: 5rem;
  z-index: 10;
  display: flex;
  align-items: center;
  gap: 0 7rem;
  font-size: 2.5rem;
  font-weight: 700;
  color: $color-white;
  padding-bottom: 1rem;


  @media only screen and (max-width: $tab-land) {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 50%;
    background-color: $color-secondary;
    z-index: 16;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem 0;
    font-size: 3.5rem;
    transform: translate(-100%);
    transition: all .5s;
  }

  @media only screen and (max-width: $mbl-land){
    width: 100%;
  }
}

.nav-active{
  transform: translate(0);
}

.owl-theme .owl-dots .owl-dot {
  letter-spacing: 0.3rem;
  padding-bottom: 1rem !important;
  border-bottom: 3px solid transparent;
  transition: all .3s;

  @media only screen and (max-width: $tab-land) {

  }
}

.owl-theme .owl-dots .active,
.owl-theme .owl-dots .owl-dot:hover {
  border-bottom: 3px solid $color-white;
}

.owl-theme .owl-dots .owl-dot span {
  display: none;
}
