.nav {
  position: relative;

  &__logo--area {
    position: absolute;
    z-index: 12;
    top: 6rem;
    left: 4rem;
    width: 21rem;
    height: 8.6rem;

    img{
      @include img-size;
    }
  }

  &__bars {
    position: absolute;
    top: 8rem;
    right: 4rem;
    z-index: 20;
    height: 6rem;
    width: 6rem;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;

    @media only screen and (max-width: $tab-land) {
      display: flex;
    }
  }

  &__bar--1,
  &__bar--2 {
    height: 0.3rem;
    width: 3.5rem;
    background: $color-white;
    transition: all 0.5s;
  }

  &__bar--2 {
    transform: translateY(1.3rem);
  }
}

.active {
  .nav__bar--1 {
    transform: translateY(0.2rem) rotate(45deg);
  }
  .nav__bar--2 {
    transform: translateY(-0.2rem) rotate(-45deg);
  }
}
